<launch>
  <arg name="config_path" default="/home/chenghe/catkin_ws/src/SuperVIO/cfg/super_vio_tum_512_config.yaml"/>
  <node name="super_vio_node" pkg="supervio" type="super_vio_node" output="screen" launch-prefix="xterm -e gdb -ex run --args " clear_params="true">
    <rosparam file="$(arg config_path)"/>
  </node>
</launch>
